[submodule "tomviz"]
	path = tomviz
	url = git@github.com:SirSharpest/tomviz.git
	branch = master
[submodule "MATLAB_Analysis"]
	path = MATLAB_Analysis
	url = git@github.com:SirSharpest/microCT_grain_analyser.git
[submodule "Grain_Analyser_GUI"]
	path = Grain_Analyser_GUI
	url = git@github.com:SirSharpest/Grain_Analyser_GUI.git
[submodule "CT_Analysing_Library"]
	path = CT_Analysing_Library
	url = git@github.com:SirSharpest/CT_Analysing_Library.git
